article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;

  @media @desktop {
    max-width: 1000px;
    margin: 0 auto;
  }

  @media @tablet {
    flex-direction: row;
  }

  @media (min-width: 840px) {
    margin-top: 3em;
  }

  .left-content {
    margin-bottom: 2em;

    .left-img {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5em;
      // margin: 0 auto 1.5em auto;
    }

    @media @tablet {
      margin-bottom: 0;
      margin-right: 2em;
    }
  }

  .right-content {
    margin-bottom: 1.5em;

    .right-img {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5em;

      @media @tablet {
        margin-bottom: 1.6em;
      }

      img {
        margin-left: 1em;

        @media @desktop {
          margin-left: 1.3em;
        }
      }
    }
  }

  .left-content,
  .right-content {
    background: @panel-bk-color;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px @panel-bk-shadow-color;
    padding: 1.5em;
  }
}
