article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 2em;

  @media @tablet {
    flex-direction: row;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
  }

  @media @desktop {
    max-width: 1000px;
    margin: 0 auto;
  }

  .left-content {
    margin-bottom: 2em;

    .left-img {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5em;
    }

    @media @tablet {
      margin-bottom: 0;
      margin-right: 2em;
    }
  }

  .right-content {
    margin-bottom: 1.5em;

    .right-img {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5em;

      @media @tablet {
        margin-bottom: 1.6em;
      }

      img {
        max-width: 345px;

        @media @desktop {
          max-width: 445px;
        }
      }
    }
  }

  .left-content,
  .right-content {
    background: @panel-bk-color;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px @panel-bk-shadow-color;
    padding: 1.5em;

    @media @tablet {
      margin-top: 4em;
    }

    // @media @desktop {
    //   margin-top: 5em;
    // }
  }
}
