.contact {
  background-color: @button-background;
  margin: 20px 10px;
  text-align: center;
  height: 550px;
  border-radius: 50px;

  form {
    margin: 10px auto;

    input,
    textarea,
    .submit {
      margin: 10px auto;
      border-radius: 30px;
      width: 70%;
      font-size: 1.6em;
      padding: 0.8em;
      border: none;
      text-decoration: none;
      background-color: white;
      color: grey;
      margin-top: 10px;
    }

    .submit {
      color: black;
    }

    .submit:hover {
      background-color: black;
      color: white;
    }
  }
}
