.features {
  width: 450px;
  .flex-direction(column);
  margin: 0 auto;

  @media @tablet {
    width: 800px;
  }

  @media @desktop {
    width: 1000px;
    margin-bottom: 4em;
  }

  h2 {
    text-align: center;
  }

  .feature-list {
    background: @panel-bk-color;
    margin: 1.5em auto;
    border-radius: 10px;
    .box-shadow();
    .flex-direction(column);
    align-items: center;

    @media @tablet {
      flex-direction: row;
    }

    .feature-left {
      width: 450px;
      align-items: center;
      background: lightgray;
      border-radius: 10px;

      @media @tablet {
        width: 250px;
        padding: 1em;
        border-radius: 10px 0 0 10px;
        border-right: 6px solid black;
      }

      .feature-img {
        text-align: center;
        padding-top: 1em;

        img {
          padding-bottom: 1em;
        }
      }

      .vert-hr {
        background: black;
        border: 3px solid black;

        @media @tablet {
          display: none;
        }
      }
    }

    .feature-content {
      align-items: center;
      margin-left: 2%;
      padding: 1em;

      @media @tablet {
        width: 550px;
      }

      @media @desktop {
        width: 750px;
      }
    }
  }
}
