.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;

  .feature-list {
    background: @panel-bk-color;
    margin: 1em;
    background: @panel-bk-color;
    border-radius: 1em;
    box-shadow: 2px 2px 5px 2px @panel-bk-shadow-color;
    display: flex;
    align-items: center;
    height: 128px;

    .feature-img {
      img {
        width: 85%;
        margin: 0 1em;
      }
    }

    .vert-hr {
      height: 90%;
      margin: 1em;
      background: black;
      border: 3px solid black;
      border-radius: 10px;
    }
  }
}
