body {
  background-image: url(/images/toy-planes.jpeg);
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;

  header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .header-text {
      margin-top: 302px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      width: 100%;
      padding: 2rem;

      h1 {
        margin-bottom: 20px;
      }
    }
  }
}
