body {
  header {
    @media @mobile {
      max-width: 100%;
      margin: 0 auto;
    }

    @media @tablet {
      max-width: 800px;
      margin: 0 auto;
    }

    @media @desktop {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
