// Escaping Media Queries
@mobile: ~"(min-width: 500px)";
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";

// Parametric Mixins
.margin-br(@marginFirst, @marginSecond, @borderRadius) {
  margin: @marginFirst @marginSecond;
  border-radius: @borderRadius;
}

.flex-direction(@direction) {
  display: flex;
  flex-direction: @direction;
}

.flex-justify(@justify-content) {
  display: flex;
  justify-content: @justify-content;
}

.max-width-margin(@width, @marginFirst, @marginSecond) {
  max-width: @width;
  margin: @marginFirst @marginSecond;
}

.width-height(@width, @height) {
  width: @width;
  height: @height;
}

.color(@bk-color, @color) {
  background-color: @bk-color;
  color: @color;
}

// Mixins
.a-nav-footer() {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  width: 8em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s;
}

.box-shadow() {
  box-shadow: 2px 2px 5px 2px @panel-bk-shadow-color;
}


.width-100 {
  width: 100%;
}

.border-bottom-grey {
  border-bottom: 1px solid @lambda-times-color-lightgrey;
}

.flex(@jc: none, @ai: none, @dir: row) {
  display: flex;
  justify-content: @jc;
  align-items: @ai;
  flex-direction: @dir;
}
