.navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 5rem;
  img {
  }
  nav {
    display: flex;
    justify-content: space-between;
    // position: fixed;
    // top: 0;
    a {
      margin: auto 2rem;
      text-decoration: none;
      color: red;
    }
  }
}
